{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load bleach_tag %}

{% block title %}
<title>{{site_longtitle|default:'MyTardis Data Store'}}</title>
{% endblock title %}

{% block script %}
<script src="{% static 'leaflet-0.7.3/leaflet.js' %}"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/Leaflet.fullscreen.min.js'></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=AH5gc7uLKpuLkASxE8LM57Tio6HOjPVT"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" href="{% static 'leaflet-0.7.3/leaflet.css' %}" />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css' rel='stylesheet' />
<style type="text/css">
div.page-header h1 { font-size: 4em; text-align: center; }
div#icons, div#map { max-width: 960px; margin-left: auto; margin-right: auto; }
div#icons div { font-size: 2.5em; padding-bottom: 1em; }
img.icon { max-width: 50%; image-rendering: optimizeQuality; border: 1px solid black; }
</style>
{% endblock style %}

{% block content %}
<div id="content">

  <div class="page-header">
    <h1>{{site_longtitle|default:'MyTardis Data Store'}}</h1>
  </div>

    <div class="row-fluid" id="icons">
        <div class="span4">
            <a href="{% url 'tardis.tardis_portal.views.public_data' %}"><img src="{% static 'images/STUDIES_SQ_Recolored.jpg' %}" alt="Studies" class="icon"></a>
            <a href="{% url 'tardis.tardis_portal.views.public_data' %}">Studies</a>
        </div>
        <div class="span4">
            <a href="{% url 'tardis.apps.acad.views.source_index' %}"><img src="{% static 'images/SOURCES_SQ_Recolored.jpg' %}" alt="Sources" class="icon"></a>
            <a href="{% url 'tardis.apps.acad.views.source_index' %}">Sources</a>
        </div>
        <div class="span4">
            <a href="/search/"><img src="{% static 'images/SEARCH_SQ_Recolored.jpg' %}" alt="Search" class="icon"></a>
            <a href="/search/">Search</a>
        </div>
    </div>
    <div id="map" style="height: 500px"></div>
</div>

<script>
    //layer = L.tileLayer("https://otile{s}-s.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {maxZoom: 14, subdomains: "1234", attribution: 'Tiles courtesy <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'});
    //layer = L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {maxZoom: 14, subdomains: "1234", attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'});

    //var map = L.map('map', {fullscreenControl: true}).setView([0, 0], 2).addLayer(layer);
    var map = L.map('map', {fullscreenControl: true}).setView([0, 0], 2).addLayer(MQ.mapLayer());
    var markers = new L.MarkerClusterGroup({ showCoverageOnHover: false, spiderfyDistanceMultiplier: 1.5 });
    var markerArray=new Array();
    {% for source in sources %}
    {%if source.geoloc_lat and source.geoloc_lon %}
    L.marker([{{ source.geoloc_lat }}, {{ source.geoloc_lon}}])
        .addTo(markers)
        .bindPopup('<a href="{{ source.get_absolute_url }}">{{ source }}</a>');
    markerArray.push(L.latLng({{ source.geoloc_lat }}, {{ source.geoloc_lon}}));
    {% endif %}
    {% endfor %}
    map.addLayer(markers);
    var bounds = L.latLngBounds(markerArray);
    map.fitBounds(bounds);
</script>

<p style="font-size: 12pt; line-height: 20pt;", align="center">
    <strong>Public studies stored:</strong> {{experiment_count|default:"14"}}<br/>
    <strong>Public datasets stored:</strong> {{dataset_count|default:"331"}}<br/>
    <strong>Public files stored:</strong> {{datafile_count|default:"2104"}}<br/>
    <strong>Public data stored (at least):</strong> {{datafile_size|default:"3.1 Tb"}}<br/>
</p>
{% endblock content %}
