{%extends "tardis_portal/portal_template.html" %}
{% load staticfiles %}
{% block script %}
<script src="{% static 'bootstrap-slider/js/bootstrap-slider.min.js' %}"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap-slider/css/bootstrap-slider.min.css' %}" />
{% endblock style %}
{% block content %}
<form id="searchbox" method="get"
    class="navbar-search pull-left"
    action=".">
  <textarea id="id_q" autocomplete="off" name="q" style="width: 900px;" rows="4"
       placeholder="Type your query here..."></textarea>
   <div class="well">
       <p>Advanced searching is supported using <a href="https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene query syntax</a>. Examples:</p>
       <ul>
           <li>neanderthal AND Africa</li>
           <li>neanderthal AND (Africa OR Europe)</li>
           <li>study_author:Haak</li>
       </ul>
   </div>
  <div class="form-group">
    <label for="genderinput"class="control-label">Gender:</label>
    <select class="form-control" id="genderinput" name="gender">
	  <option>All</option>
		{% for gender in gender_choices %}
		<option value="{{ gender.0 }}">{{ gender.1 }}</option>
		{% endfor %}
	</select>
  </div>
  <div class="form-group">
    <label for="ageinput">Age Category:</label>
    <select class="form-control" id="ageinput" name="age">
	  <option>All</option>
		{% for age_cat in age_cat_choices %}
		<option value="{{ age_cat.0 }}">{{ age_cat.1 }}</option>
		{% endfor %}
	</select>
  </div>
  <div class="form-group">
    <label for="continentinput">Continent:</label>
		{% for continent in continent_choices %}
		<label class="checkbox-inline">
		  <input type="checkbox" id="continentinput{{ continent.0 }}" name="continent" value="{{ continent.0 }}">{{ continent.1 }}
		</label>
		{% endfor %}
  </div>
    <div class="well">
        Carbon Date:&nbsp;<b>1000 years</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="carbondateinput" name="carbondate" class="span4" value="" type="text" data-slider-min="1000" data-slider-max="150000" data-slider-step="100" data-slider-value="[1000,150000]"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>150000 years</b>
	</div>
  <div class="form-actions">
    <button type="submit" class="btn btn-info btn-large">
      <i class="icon-search icon-large"></i> Search
    </button>
  </div>
</form>
<script>
var slider=new Slider('#carbondateinput', {tooltip: 'always'});

</script>
{% endblock content %}
