{% load linkify_pubid %}
{% load capture %}
{% if doi %}
{% block style %}
<style type="text/css">
.citation-block {
  text-indent:-3em;
  padding-left:3em;
}
</style>
{% endblock %}

<div class="citation-block">
    <small>
    {% for author in doi_exp.author_experiment_set.all %}{% capture as creator_span %}
    <span property="dc:creator" style="white-space: nowrap;">
      {{ author.author }}</span>{% endcapture %}{% if not forloop.first %};
      {% endif %}
      {{ creator_span }}{% endfor %}
    </small>
    ({{ doi_exp.publication_year }}):
    <span style="font-style: italic;">{% if rtype == "Dataset" %}{{ dataset.description }}{% else %}{{ doi_exp.title }}{% endif %}</span>.
    {{ site_longtitle }}.
    {{ rtype }}.
    {% filter linkify_pubid %}doi:{{ doi }}{% endfilter %}
</div>
{% endif %}
