{% extends "tardis_portal/portal_template.html" %}
{% block script %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock style %}

{% block content %}
<div class="page-header">
  <h4>Source</h4>

<h1><span property="dc:title">{{ source }}</span></h1>
</div>

<div class="row-fluid">
  <div id="map" style="width: 250px; height: 250px; float: right"></div>
  <div class="span9">
<div id="source_details_left" class="dl-horizontal pull-left">
  <dl>
    <dt>Source ID:</dt>
    <dd>{{ source.id }}</dd>
  </dl>
  {% if source.date %}
  <dl>
    <dt>Collection date:</dt>
    <dd>{{ source.date|date:"c"}}</dd>
  </dl>
  {% endif %}
  <dl>
    <dt>Organism:</dt>
    <dd>{{ source.organism }}</dd>
  </dl>
  <dl>
    <dt>Source details:</dt>
    <dd>{{ source.source_details|capfirst }}</dd>
  </dl>
  <dl>
    <dt>Gender:</dt>
    <dd>{{ source.get_gender_display }}</dd>
  </dl>
  <dl>
    <dt>Age category:</dt>
    <dd>{{ source.get_age_cat_display }}</dd>
  </dl>
  {% if source.age_range %}
  <dl>
    <dt>Age range:</dt>
    <dd>{{ source.age_range }}</dd>
  </dl>
  {% endif %}
 </div>
<div id="source_details_right" class="dl-horizontal pull-left">
  <dl>
    <dt>Continent:</dt>
    <dd>{{ source.get_geoloc_continent_display }}</dd>
  </dl>
  <dl>
    <dt>Country:</dt>
    <dd>{{ source.geoloc_country }}</dd>
  </dl>
  {% if source.geoloc_locale %}
  <dl>
    <dt>Locale:</dt>
    <dd>{{ source.geoloc_locale }}</dd>
  </dl>
  {% endif %}
  {% if source.geoloc_lat and source.geoloc_lon %}
  <dl>
    <dt>Lat/lon:</dt>
    <dd>{{source.geoloc_lat}}, {{source.geoloc_lon}}</dd>
  </dl>
  {%endif%}
  {% if source.env_biome %}
  <dl>
    <dt>Biome:</dt>
    <dd>{{ source.env_biome|capfirst }}</dd>
  </dl>
  {% endif %}
  {% if source.env_feature %}
  <dl>
    <dt>Env feature:</dt>
    <dd>{{ source.env_feature|capfirst }}</dd>
  </dl>
  {% endif %}
  {% if source.geo_depth %}
  <dl>
      <dt>Depth:</dt>
      <dd>{{ source.geo_depth }}m below surface</dd>
  </dl>
  {% endif %}
  {% if source.geo_altitude %}
  <dl>
      <dt>Altitude:</dt>
      <dd>{{ source.geo_altitude }}m above sea level</dd>
  </dl>
  {% endif %}
  {% if source.geo_elev %}
  <dl>
      <dt>Elevation:</dt>
      <dd>{{ source.geo_elev }}m above mean sea level</dd>
  </dl>
  {% endif %}
  {% if source.period %}
  <dl>
      <dt>Period:</dt>
      <dd>{{ source.period }}</dd>
  </dl>
  {% endif %}
  {% if source.carbondate_id %}
  <dl>
    <dt>Carbon date:</dt>
    <dd>{{ source.carbondate_id }} {{ source.carbondate_years }} &plusmn; {{ source.carbondate_error }}</dd>
  </dl>
  {% endif %}
  {% if source.arch_date %}
  <dl>
      <dt>Archaeological date:</dt>
      <dd>{{ source.arch_date }}</dd>
  </dl>
  {% endif %}
  {% if source.source_notes %}
  <dl>
      <dt>Source notes:</dt>
      <dd>{{ source.source_notes }}</dd>
  </dl>
  {% endif %}
</div>
</div>
</div>
{% if samples %}
<h3>Samples</h3>

<ul class="nav nav-tabs">
    {% for sample in samples %}
    <li{%if forloop.first %} class="active"{%endif%}><a data-toggle="tab" href="#{{sample.get_id}}">{{ sample }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for sample in samples %}
    <div role="tabpanel" class="tab-pane{%if forloop.first %} active{%endif%}" id="{{sample.get_id}}">
      <div id="source_details" class="dl-horizontal">
	    <dl>
	      <dt style="width:150px">Collection date:</dt>
	      <dd style="margin-left: 160px">{{ sample.date|date:"c" }}</dd>
	    </dl>
        <dl>
            <dt style="width:150px">Organism:</dt>
            <dd style="margin-left: 160px">{{ sample.organism }}</dd>
        </dl>
	    <dl>
	      <dt style="width:150px">Sample category:</dt>
	      <dd style="margin-left: 160px">{{ sample.get_sample_cat_display }}</dd>
	    </dl>
	    <dl>
	      <dt style="width:150px">Sample details:</dt>
	      <dd style="margin-left: 160px">{{ sample.sample_details|capfirst }}</dd>
	    </dl>
        {% if sample.env_package %}
	    <dl>
	      <dt style="width:150px">Environmental package:</dt>
	      <dd style="margin-left: 160px">{{ sample.get_env_package_display }}</dd>
	    </dl>
        {% endif %}
      
	    <dl>
	      <dt style="width:150px">Datasets:</dt>
	      <dd style="margin-left: 160px"><ul class="list-unstyled">
	      {% for dataset in sample.get_datasets %}
	        {% if dataset.id in dataset_ids %}
            <li><a href="{{ dataset.get_absolute_url }}">{{ dataset }}</a></li>
            {% endif %}
          {% endfor %}
        </ul></dd>
	    </dl>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if source.geoloc_lat and source.geoloc_lon %}
<script>
    layer = L.tileLayer("http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {maxZoom: 14, subdomains: ["otile1", "otile2", "otile3", "otile4"], attribution: 'Tiles courtesy <a href="http://www.mapquest.com/">MapQuest</a> &mdash; map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'});

    var map = L.map('map').setView([{{ source.geoloc_lat }}, {{source.geoloc_lon}} ], 7).addLayer(layer);

    L.marker([{{ source.geoloc_lat }}, {{ source.geoloc_lon}}])
        .addTo(map)
        .bindPopup('{{ source.geoloc_lat }}, {{ source.geoloc_lon}}')
</script>
{% endif %}
{% endblock %}
