{% extends "tardis_portal/portal_template.html" %}
{% block content %}
<h1>{{ source }}</h1>

<!-- <div id="map" style="height: 300px; width: 300px; float: right"></div> -->

<p>Source ID: {{ source.id }}</p>
<p>Collection date: {{ source.date|date:"c"}}</p>
<p>Organism: <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ source.organism.get_organism_id }}">{{ source.organism }}</a>
<p>Source details: {{ source.source_details }}</p>
<p>Gender: {{ source.get_gender_display }}</p>
<p>Age category: {{ source.get_age_cat_display }}</p>
<p>Age range: {{ source.age_range }}</p>
<p>Continent: {{ source.get_geoloc_continent_display }}</p>
<p>Country: {{ source.geoloc_country }}</p>
<p>Locale: {{ source.geoloc_locale }}</p>
{%if source.geoloc_lat or source.geoloc_lon %}<p>Lat/lon: {{source.geoloc_lat}}, {{source.geoloc_lon}}{%endif%}
<p>Biome: {{ source.env_biome }}</p>
<p>Env feature: {{ source.env_feature }}</p>
{% if source.carbondate_id %}<p>Carbon date: {{ source.carbondate_id }} {{ source.carbondate_years }} &plusmn; {{ source.carbondate_error }}</p>{% endif %}

{% if samples %}
<h2>Samples</h2>

<ul class="nav nav-tabs">
    {% for i in samples %}
    <li{%if i == samples.0 %} class="active"{%endif%}><a data-toggle="tab" href="#{{i.get_id}}">{{ i }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for i in samples %}
    <div role="tabpanel" class="tab-pane{%if i == samples.0 %} active{%endif%}" id="{{i.get_id}}">
        <p>Collection date: {{ i.date }}</p>
        <p>Category of sample: {{ i.get_sample_cat_display }}</p>
        <p>Sample details: {{ i.sample_details }}</p>
        <p>Environmental package: {{ i.get_env_package_display }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

<!--
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    layer = L.tileLayer("http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {maxZoom: 18, subdomains: ["otile1", "otile2", "otile3", "otile4"]});

    var map = L.map('map').setView([{{ source.geoloc_lat }}, {{ source.geoloc_lon}}], 7).addLayer(layer);

    L.marker([{{ source.geoloc_lat }}, {{ source.geoloc_lon}}])
        .addTo(map)
        .bindPopup('{{ source.geoloc_lat }}, {{ source.geoloc_lon}}')

    var circle = L.circle([{{ source.geoloc_lat }}, {{ source.geoloc_lon}}], 100000, {
            color: 'red',
            fillColor: 'red',
            fillOpacity: 0.25
        }).addTo(map);
</script>
-->
{% endblock %}
